Repository smaranjitghose/girlscript_app, pull requests merged in 2020-05, with the labels that each got.

#249 Developed Login screen UI
  community_app_boilerplate/lib/app.dart
  community_app_boilerplate/lib/main.dart
  community_app_boilerplate/lib/ui/screens/login.dart
  community_app_boilerplate/pubspec.lock
Labels: PR: reviewed-approved, add_feature, gssoc20, hard

#253 Sign in bug
  community_app_boilerplate/ios/Flutter/Debug.xcconfig
  community_app_boilerplate/ios/Flutter/Release.xcconfig
  community_app_boilerplate/lib/ui/dashboard.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/lib/ui/screens/login.dart
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
Labels: PR: reviewed-approved, add_feature, gssoc20, hard

#243 Teams Page Added
  community_app_boilerplate/assets/images/GitHub-Mark-32px.png
  community_app_boilerplate/assets/images/githubblack.png
  community_app_boilerplate/assets/images/linkedinblue.png
  community_app_boilerplate/assets/images/team.png
  community_app_boilerplate/assets/images/team/Rishabh_Verma.jpg
  community_app_boilerplate/assets/images/team/ambarish_datar.jpg
  community_app_boilerplate/assets/images/team/anush_bhatia.jpg
  community_app_boilerplate/assets/images/team/apoorva_gupta.jpg
  community_app_boilerplate/assets/images/team/arnab_dutta.jpg
  community_app_boilerplate/assets/images/team/bidisha_mukherjea.jpg
  community_app_boilerplate/assets/images/team/default_member.png
  community_app_boilerplate/assets/images/team/jasprit_kaur.jpg
  community_app_boilerplate/assets/images/team/ousnik_polley.jpg
  community_app_boilerplate/assets/images/team/rahul_sarvadevabhatla.jpg
  community_app_boilerplate/assets/images/team/ram_maheshwari.jpg
  community_app_boilerplate/assets/images/team/ritik_rajput.jpg
  community_app_boilerplate/assets/images/team/saswat_nayak.jpg
  community_app_boilerplate/assets/images/team/smaranjit_ghose.jpg
  community_app_boilerplate/assets/images/team/sriyash.jpg
  community_app_boilerplate/assets/images/team/suhrid_datta.jpg
  community_app_boilerplate/assets/images/team/sukkrit_sharma.jpg
  community_app_boilerplate/assets/images/team/suryanshi_kaushik.jpg
  community_app_boilerplate/lib/main.dart
  community_app_boilerplate/lib/ui/screens/Teams.dart
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
  community_app_boilerplate/pubspec.lock
  community_app_boilerplate/pubspec.yaml
Labels: PR: unreviewed, add_feature, gssoc20, hard

#257 pull/2
  community_app_boilerplate/ios/Flutter/Debug.xcconfig
  community_app_boilerplate/ios/Flutter/Release.xcconfig
  community_app_boilerplate/lib/services/signUp.dart
  community_app_boilerplate/lib/ui/dashboard.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/lib/ui/screens/login.dart
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
Labels: PR: unreviewed, bug, easy, gssoc20

#258 Auth improvements
  community_app_boilerplate/lib/main.dart
  community_app_boilerplate/lib/services/auth.dart
  community_app_boilerplate/lib/services/collection.dart
  community_app_boilerplate/lib/services/user.dart
  community_app_boilerplate/lib/ui/dashboard.dart
  community_app_boilerplate/lib/ui/screens/events.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/lib/ui/screens/login.dart
  community_app_boilerplate/lib/ui/screens/milestone.dart
  community_app_boilerplate/lib/ui/screens/profile.dart
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
  community_app_boilerplate/pubspec.lock
  community_app_boilerplate/pubspec.yaml
Labels: PR: unreviewed

#265 Added Getting Started Page under Docs
  docs/.gitignore
  docs/build/doctrees/README.doctree
  docs/build/doctrees/android_and_ios.doctree
  docs/build/doctrees/apk_to_playstore.doctree
  docs/build/doctrees/code_of_conduct.doctree
  docs/build/doctrees/contributors_guide.doctree
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/event.doctree
  docs/build/doctrees/firebase_integration.doctree
  docs/build/doctrees/home.doctree
  docs/build/doctrees/index.doctree
  docs/build/doctrees/license.doctree
  docs/build/doctrees/milestones.doctree
  docs/build/doctrees/profile.doctree
  docs/build/doctrees/team.doctree
  docs/build/doctrees/update_from_firebase.doctree
  docs/build/html/.buildinfo
  docs/build/html/README.html
  docs/build/html/_sources/README.rst.txt
  docs/build/html/_sources/getting_started.rst.txt
  docs/build/html/_sources/index.rst.txt
  docs/build/html/_static/alabaster.css
  docs/build/html/_static/custom.css
  docs/build/html/android_and_ios.html
  docs/build/html/apk_to_playstore.html
  docs/build/html/code_of_conduct.html
  docs/build/html/contributors_guide.html
  docs/build/html/event.html
  docs/build/html/firebase_integration.html
  docs/build/html/genindex.html
  docs/build/html/getting_started.html
  docs/build/html/home.html
  docs/build/html/index.html
  docs/build/html/license.html
  docs/build/html/milestones.html
  docs/build/html/objects.inv
  docs/build/html/profile.html
  docs/build/html/search.html
  docs/build/html/searchindex.js
  docs/build/html/team.html
  docs/build/html/update_from_firebase.html
  docs/source/getting_started.rst
  docs/source/index.rst
Labels: PR: unreviewed

#264 UI fix
  community_app_boilerplate/lib/ui/screens/events.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/lib/ui/screens/milestone.dart
  community_app_boilerplate/lib/ui/screens/profile.dart
Labels: PR: unreviewed

#266 Content added to Home screen - #256 resolved
  community_app_boilerplate/lib/app.dart
  community_app_boilerplate/lib/main.dart
  community_app_boilerplate/lib/ui/screens/home.dart
Labels: PR: unreviewed
