Repository smaranjitghose/girlscript_app, pull requests merged in 2020-04, with the labels that each got.

#211 Added a Workflow
  .github/workflows/greetings.yml
  community_app_boilerplate/lib/app.dart
  community_app_boilerplate/pubspec.yaml
Labels: documentation, gssoc20, medium

#215 Improved splash screen
  community_app_boilerplate/lib/app.dart
Labels: gssoc20

#224 Home page ,changed CarouselSlider and added Mediaquery
  community_app_boilerplate/lib/ui/cardCarousel.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/pubspec.lock
Labels: easy, gssoc20

#226 Updated home screen
  community_app_boilerplate/android/app/build.gradle
  community_app_boilerplate/android/app/src/main/AndroidManifest.xml
  community_app_boilerplate/assets/images/announcement1.jpg
  community_app_boilerplate/assets/images/announcement2.jpg
  community_app_boilerplate/assets/images/flutter1.png
  community_app_boilerplate/lib/ui/cardCarousel.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/pubspec.lock
  community_app_boilerplate/pubspec.yaml
Labels: gssoc20, hard

#227 Improved splash screen
  community_app_boilerplate/assets/images/gs.png
  community_app_boilerplate/lib/app.dart
  community_app_boilerplate/pubspec.yaml
Labels: easy, gssoc20, improvement

#228 Firebase integration
  community_app_boilerplate/android/app/build.gradle
  community_app_boilerplate/android/app/google-services.json
  community_app_boilerplate/android/build.gradle
  community_app_boilerplate/lib/dummy.dart
  community_app_boilerplate/pubspec.yaml
Labels: PR: reviewed-approved, easy, gssoc20

#229 Removed open API key
  community_app_boilerplate/android/app/google-services.json
Labels: PR: unreviewed, beginner, gssoc20

#230 New Mockups
  MockUp/ComingEvents.png
  MockUp/Events.png
  MockUp/Home.png
  MockUp/LocateEvent.png
  MockUp/Login.png
  MockUp/LoginScreen.png
  MockUp/MileStone.png
  MockUp/Milestones.png
  MockUp/Mockup01.png
  MockUp/NewsFeed.png
  MockUp/SplashScreen.png
  MockUp/Team.png
  MockUp/TeamPage.png
  README.md
  community_app_boilerplate/lib/app.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/pubspec.lock
Labels: PR: unreviewed

#233 Added event screen
  community_app_boilerplate/assets/images/events/event1.jpg
  community_app_boilerplate/lib/ui/screens/events.dart
  community_app_boilerplate/lib/ui/screens/events/event1.dart
  community_app_boilerplate/pubspec.yaml
Labels: PR: unreviewed

#234 Improvements in event1.dart
  community_app_boilerplate/lib/ui/screens/events/event1.dart
Labels: PR: unreviewed

#238 Added profile screen
  community_app_boilerplate/lib/ui/dashboard.dart
  community_app_boilerplate/lib/ui/screens/profile.dart
Labels: PR: unreviewed

#236 Added label workflow
  .github/labeler.yml
  .github/workflows/label.yml
Labels: PR: reviewed-approved

#239 Improved Sign Up screen
  community_app_boilerplate/lib/app.dart
  community_app_boilerplate/lib/main.dart
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
Labels: PR: unreviewed, gssoc20, hard

#240 Added google sign up
  community_app_boilerplate/android/app/google-services.json
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
  community_app_boilerplate/pubspec.yaml
Labels: PR: unreviewed, bug, gssoc20

#241 Improved Sign Up
  community_app_boilerplate/lib/services/signUp.dart
  community_app_boilerplate/lib/ui/dashboard.dart
  community_app_boilerplate/lib/ui/screens/home.dart
  community_app_boilerplate/lib/ui/screens/profile.dart
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
Labels: PR: unreviewed

#245 New MockUps
  MockUp/Mockup01.png
  community_app_boilerplate/pubspec.lock
Labels: PR: unreviewed

#242 Email Sign Up Authentication
  community_app_boilerplate/lib/ui/screens/profile.dart
  community_app_boilerplate/lib/ui/screens/signUpScreen.dart
Labels: PR: unreviewed, gssoc20, hard

#246 Milestone screen created
  community_app_boilerplate/assets/images/custom.svg
  community_app_boilerplate/assets/images/html.png
  community_app_boilerplate/lib/ui/dashboard.dart
  community_app_boilerplate/lib/ui/screens/milestone.dart
  community_app_boilerplate/pubspec.yaml
Labels: PR: unreviewed, add_feature, gssoc20, hard

#248 Event Register Screen
  community_app_boilerplate/lib/ui/screens/eventRegister.dart
  community_app_boilerplate/lib/ui/screens/events.dart
Labels: PR: unreviewed, add_feature, gssoc20, hard
