Repository smaranjitghose/girlscript_app, pull requests merged in 2020-03, with the labels that each got.

#19 Added the notification icon
  lib/home.dart
  lib/notification.dart
  pubspec.yaml
Labels: gssoc20, medium

#40 Updated README
  README.md
Labels: beginner, gssoc20

#28 Remove Empty Widgets
  lib/home.dart
Labels: beginner, gssoc20

#42 Updated README.md
  README.md
Labels: beginner, documentation, gssoc20

#46 Fixed bugs causing images errors.
  assets/images/GSsoc-Type-Logo-Black.png
  lib/home.dart
  pubspec.yaml
Labels: easy, gssoc20

#48 Added Website Home Page
  website/assets/Images/GSsoc Type Logo Black.png
  website/assets/Images/GitHub_Mark.png
  website/assets/Images/fb.png
  website/assets/Images/girlscriptcar.png
  website/assets/Images/gslogo.png
  website/assets/Images/insta.png
  website/assets/Images/yt.png
  website/css/bootstrap.min.css
  website/css/font-awesome.min.css
  website/css/magnific-popup.css
  website/css/owl.carousel.min.css
  website/css/slicknav.min.css
  website/css/style.css
  website/css/themify-icons.css
  website/index.html
  website/lib/bootstrap/css/bootstrap-grid.css
  website/lib/bootstrap/css/bootstrap-grid.css.map
  website/lib/bootstrap/css/bootstrap-grid.min.css
  website/lib/bootstrap/css/bootstrap-grid.min.css.map
  website/lib/bootstrap/css/bootstrap-reboot.css
  website/lib/bootstrap/css/bootstrap-reboot.css.map
  website/lib/bootstrap/css/bootstrap-reboot.min.css
  website/lib/bootstrap/css/bootstrap-reboot.min.css.map
  website/lib/bootstrap/css/bootstrap.css
  website/lib/bootstrap/css/bootstrap.css.map
  website/lib/bootstrap/css/bootstrap.min.css
  website/lib/bootstrap/css/bootstrap.min.css.map
  website/lib/bootstrap/js/bootstrap.bundle.js
  website/lib/bootstrap/js/bootstrap.bundle.js.map
  website/lib/bootstrap/js/bootstrap.bundle.min.js
  website/lib/bootstrap/js/bootstrap.bundle.min.js.map
  website/lib/bootstrap/js/bootstrap.js
  website/lib/bootstrap/js/bootstrap.js.map
  website/lib/bootstrap/js/bootstrap.min.js
  website/lib/bootstrap/js/bootstrap.min.js.map
Labels: beginner, gssoc20

#52 Changed file name to AboutUs and fixed overflow issue and added Bottom Navigation bar
  lib/AboutUs.dart
  lib/home.dart
Labels: beginner, gssoc20

#54 Fixed error in Home Page
  .dart_tool/package_config.json
  .flutter-plugins
  .flutter-plugins-dependencies
  .packages
  android/local.properties
  pubspec.yaml
Labels: beginner, bug

#56 updated readme for website
  website/README.MD
Labels: beginner, gssoc20

#59 Added new icons
  website/assets/Images/GSSoC_logo_white.png
  website/assets/Images/gmail.png
  website/assets/Images/gslogo1.png
  website/assets/Images/linkedin.png
  website/assets/Images/location.png
  website/assets/Images/twitter.png
Labels: easy, gssoc20

#61 Modified index.html and style.css
  website/css/bootstrap.min.css
  website/css/style.css
  website/index.html
Labels: gssoc20, improvement, medium

#66 Contact page, for GirlScript Chennai Website
  website/assets/Icons/email.png
  website/assets/Icons/phone.png
  website/assets/Images/Instagram.png
  website/assets/Images/YouTube.png
  website/assets/Images/faceBook.png
  website/contactUs.html
  website/css/formStyle.css
  website/index.html
  website/scripts/google-script-just-email.js
Labels: gssoc20, medium

#53 Added Scrollable cards to Project Page
  lib/Project.dart
Labels: gssoc20, hard

#75 [Fixes #25] Adds a ListView of Cards for Events
  assets/fonts/Poppins-Regular.ttf
  assets/fonts/Poppins-SemiBold.ttf
  assets/images/back.png
  lib/Events.dart
  lib/home.dart
  pubspec.yaml
Labels: gssoc20, medium

#82 [Fixes #73] Deleted unnecessary comments in pubspec.yaml file
  pubspec.yaml
Labels: beginner, good first issue, gssoc20

#83 Updated the links
  website/assets/Images/linkedin.png
  website/index.html
Labels: gssoc20, medium

#84 [Fixes #81] Added launcher icon to the app
  assets/icons/gs_icon.png
  pubspec.yaml
Labels: easy, gssoc20

#79 Added blog page in the index.html and contactUs.html page
  website/contactUs.html
  website/index.html
Labels: beginner, gssoc20

#90 Updated Team Section
  build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
  website/css/style.css
  website/index.html
Labels: easy, gssoc20

#92 Updated README.md
  README.md
Labels: beginner, gssoc20

#94 updated form of contactus.html page
  website/contactUs.html
  website/css/formStyle.css
  website/css/style.css
Labels: easy, gssoc20

#104 [Fixes #86] Added Team page to the app
  lib/home.dart
  lib/team.dart
Labels: gssoc20, hard

#102 Added custom logo for GirlScript Chennai
  website/assets/Images/GirlScriptChennaiLogo.png
Labels: easy, gssoc20

#88 Made Achievements Web Page #50
  website/achievements.html
  website/contactUs.html
  website/index.html
Labels: easy, gssoc20

#117 resolved issue #107
  .dart_tool/package_config.json
  .flutter-plugins
  .packages
  android/local.properties
  lib/home.dart
  pubspec.lock
  pubspec.yaml
Labels: easy, gssoc20

#120 Socialicons
  website/contactUs.html
  website/css/style.css
  website/index.html
Labels: easy, gssoc20

#111 Adding CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: beginner, gssoc20

#112 Added the Contact Us Page to the app
  lib/Contactus.dart
  lib/home.dart
  pubspec.yaml
Labels: gssoc20, medium

#116 Designed Home Page #87
  website/css/style.css
  website/index.html
Labels: gssoc20, medium

#122 Fixed team section
  website/css/style.css
  website/index.html
Labels: gssoc20, medium

#127 [Fixes #121] Resolved overflow issue in ContactUs page
  lib/Contactus.dart
Labels: beginner, bug, gssoc20

#126 Updated the CONTRIBUTING.md
  CONTRIBUTING.md
Labels: beginner, gssoc20

#131 Improved Splash Screen
  assets/fonts/FiraCode-Regular.ttf
  lib/app.dart
  lib/main.dart
  pubspec.yaml
Labels: easy, gssoc20

#132 Resolved #108 Right overflow in team.dart
  .dart_tool/package_config.json
  .flutter-plugins
  .packages
  lib/team.dart
  pubspec.lock
Labels: bug, easy, gssoc20

#129 Logo
  build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
  website/assets/Images/gs_chennai_logo2.png
Labels: easy, gssoc20

#128 Updated Achievement Page
  website/achievementData1.html
  website/achievements.html
  website/css/style.css
  website/js/bootstrap.min.js
  website/js/fontawesome.min.js
  website/js/owl.carousel.min.js
Labels: easy, gssoc20

#134 Update README.md
  README.md
Labels: easy, gssoc20

#133 Implemented the logic to send mail in contacts page
  lib/Contactus.dart
  pubspec.yaml
Labels: gssoc20, medium

#140 Improved Home screen of the app
  lib/cardCaursel.dart
  lib/home.dart
  lib/profileCard.dart
  pubspec.yaml
Labels: gssoc20, medium

#143 Added event registration page
  .dart_tool/package_config.json
  .flutter-plugins
  .flutter-plugins-dependencies
  .packages
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  android/local.properties
  ios/Runner/GeneratedPluginRegistrant.m
  pubspec.lock
Labels: gssoc20, medium

#144 updated contact page #141
  website/contact.png
  website/contactUs.html
  website/css/style.css
  website/index.html
Labels: gssoc20, medium

#149 event page
  .dart_tool/package_config.json
  .flutter-plugins
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/girlscript_app.iml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/modules.xml
  .idea/vcs.xml
  .packages
  android/local.properties
  lib/EventPage.dart
  pubspec.lock
Labels: gssoc20, medium

#152 Fix RenderFlex overflowed in Team Page
  lib/profileCard.dart
  lib/team.dart
Labels: gssoc20, medium

#156 Aligned Bottom Nav items as per screenshots
  lib/dashboard.dart
Labels: gssoc20, medium

#154 Connect Project Page with Project Details Page
  lib/Project.dart
Labels: gssoc20, medium

#160 Updating Navbar in ContactUs
  website/contactUs.html
Labels: rgsoc20

#159 made navbar responsive
  website/index.html
Labels: rgsoc20

#162 Updated readme
  README.md
  assets/icons/social/github.jpg
  assets/images/contactus.jpg
  assets/images/homepage.jpg
Labels: gssoc20, medium

#170 Added Mock ups
  MockUp/AboutUs.png
  MockUp/ComingEvents.png
  MockUp/LocateEvent.png
  MockUp/LoginScreen.png
  MockUp/Milestones.png
  MockUp/NewsFeed.png
  MockUp/SplashScreen.png
  MockUp/Team.png
Labels: gssoc20, medium

#176 fixed errors
  community_app_boilerplate/lib/main.dart
  community_app_boilerplate/lib/ui/screens/Project.dart
  community_app_boilerplate/lib/ui/screens/projectData.dart
  community_app_boilerplate/lib/ui/screens/projectDetail.dart
Labels: bug, gssoc20, hard

#171 Added comments to dashboard.dart
  community_app_boilerplate/lib/dashboard.dart
Labels: gssoc20, medium

#179 Corrected Errors
  community_app_boilerplate/assets/icons/social/linkedIn.png
  community_app_boilerplate/lib/Project.dart
  community_app_boilerplate/lib/dashboard.dart
  community_app_boilerplate/lib/projectDetail.dart
  community_app_boilerplate/pubspec.yaml
Labels: bug, gssoc20, medium

#191 Modified ReadMe According to the MockUps added
  README.md
Labels: documentation, gssoc20, hard

#196 Edited and Modified Read Me
  README.md
Labels: gssoc20, hard

#192 [Fixes #139] Added LoginScreen to the app
  community_app_boilerplate/lib/app.dart
  community_app_boilerplate/lib/main.dart
  community_app_boilerplate/lib/ui/screens/LoginScreens/home.dart
  community_app_boilerplate/lib/ui/screens/LoginScreens/models/userInfo.dart
  community_app_boilerplate/lib/ui/screens/LoginScreens/services/auth.dart
  community_app_boilerplate/lib/ui/screens/LoginScreens/signIn.dart
  community_app_boilerplate/lib/ui/screens/LoginScreens/wrapper.dart
Labels: easy, gssoc20

#178 Added ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report_template.md
  .github/ISSUE_TEMPLATE/feature_request_template.md
  .github/ISSUE_TEMPLATE/pull_request_template.md
Labels: gssoc20, medium

#198 Improved Events Screen
  community_app_boilerplate/lib/Project.dart
  community_app_boilerplate/lib/contributors.dart
  community_app_boilerplate/lib/dashboard.dart
  community_app_boilerplate/lib/my_flutter_app_icons.dart
  community_app_boilerplate/lib/projectData.dart
  community_app_boilerplate/lib/projectDetail.dart
  community_app_boilerplate/lib/ui/screens/EventPage.dart
  community_app_boilerplate/lib/ui/screens/EventRegistration.dart
  community_app_boilerplate/lib/ui/screens/Events.dart
  community_app_boilerplate/lib/ui/screens/dashboard.dart
Labels: gssoc20, improvement, medium

#199 [Fixes #181] Fixes overflow in the HomePage of the app
  community_app_boilerplate/lib/ui/custom/profileCard.dart
Labels: gssoc20, improvement, medium

#200 [Fixes #193] Added SignUp Page to the app
  community_app_boilerplate/lib/ui/screens/LoginScreens/SignuUpPage.dart
  community_app_boilerplate/lib/ui/screens/LoginScreens/signIn.dart
Labels: gssoc20, medium
